# Extract, Transform, Load - Bank Customer Attrition

## Objectives

* **Extract**: Load the raw dataset from Kaggle into a Pandas DataFrame.

* **Transform**: Normalise column names, convert data types, remove duplicates and handle all missing values.

* **Load**: Save the cleaned dataset into a new CSV file, ready for feature engineering/modelling.


## Inputs

* Bank Customer Attrition Insights datatset from [Kaggle](https://www.kaggle.com/datasets/marusagar/bank-customer-attrition-insights)


## Outputs

* data/inputs/cleaned_bank_data.csv

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/kabirasharpe/dev/final_hackathon/BankCustomerAttrition/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/kabirasharpe/dev/final_hackathon/BankCustomerAttrition'

_______________

## Extract - Load and Clean Dataset

The bank customer attrition insights dataset will be loaded into this notebook, to gain insight and conduct data cleaning.

In [4]:
# Import neceessary Python libraries
import pandas as pd
import numpy as np

In [5]:
# Verify the current working directory
import os
print(os.getcwd())

/Users/kabirasharpe/dev/final_hackathon/BankCustomerAttrition

In [6]:
# Load the dataset and convert it to a DataFrame
df = pd.read_csv('data/inputs/raw/bank_customer_attrition_insights_data.csv')

# Display the first few rows of the DataFrame
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15598695,Fields,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15649354,Johnston,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15737556,Vasilyev,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15671610,Hooper,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15625092,Colombo,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [7]:
# Investigate the size of the DataFrame
df.shape

(10000, 18)

Checking the data types for all columns in the dataset, to be converted if necessary.

In [8]:
# Check the data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

Rename columns 15, 16 and 17 to remove any spaces.

In [9]:
# Rename columns to remove spaces and make them more Pythonic
df = df.rename({'Satisfaction Score': 'SatisfactionScore', 'Card Type': 'CardType', 'Point Earned': 'PointEarned'}, axis=1)
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'SatisfactionScore', 'CardType', 'PointEarned'],
      dtype='object')

In [10]:
# check for null values in the DataFrame
df.isnull().sum()

RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Complain             0
SatisfactionScore    0
CardType             0
PointEarned          0
dtype: int64

The dataset has no null values.

Checking for duplicates in the dataset.

In [11]:
# Check for duplicates in the DataFrame
df.duplicated().sum()

0

Dropping 'Surname' column, to anonymise the dataset.

In [12]:
# Dropping the 'Surname' column to anonymise the dataset
df.drop(columns=['Surname'], inplace=True)

In [13]:
# Check the DataFrame info after dropping the column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RowNumber          10000 non-null  int64
 1   CustomerId         10000 non-null  int64
 2   CreditScore        10000 non-null  int64
 3   Geography          10000 non-null  object
 4   Gender             10000 non-null  object
 5   Age                10000 non-null  int64
 6   Tenure             10000 non-null  int64
 7   Balance            10000 non-null  float64
 8   NumOfProducts      10000 non-null  int64
 9   HasCrCard          10000 non-null  int64
 10  IsActiveMember     10000 non-null  int64
 11  EstimatedSalary    10000 non-null  float64
 12  Exited             10000 non-null  int64
 13  Complain           10000 non-null  int64
 14  SatisfactionScore  10000 non-null  int64
 15  CardType           10000 non-null  object
 16  PointEarned        10000 non-null  int64
dtypes: float64(2), int64(12), object(3)
memory usage: 1.3+ MB

_______________________

## Feature Engineering

Feature engineering will now be implemented into the ETL pipeline after it was explored during EDA.

Create a now column to group Age into the following bins:

* 18-29
* 30-39
* 40-49
* 50-59
* 60-69
* 70 +

In [16]:
# Group age into bins
# Define the bins and labels for age groups
bins = [ 18, 30, 40, 50, 60, 70, np.inf]
labels = ['18-29', '30-39', '40-49', '50-59', '60-69', '70+']

# Create a new column 'AgeGroup' in the DataFrame (CoPilot Assitance)
df ['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [17]:
# Display the first few rows of the DataFrame to verify the new column
df.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,SatisfactionScore,CardType,PointEarned,AgeGroup
0,1,15598695,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464,40-49
1,2,15649354,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456,40-49
2,3,15737556,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377,40-49
3,4,15671610,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350,30-39
4,5,15625092,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425,40-49

Verify working directory with a print statement, as the cleaned dataset would not successfully load into a new CSV file.

In [18]:
# Verify working directory (CoPilot Assistance)
print("Current working directory:", os.getcwd())

Current working directory: /Users/kabirasharpe/dev/final_hackathon/BankCustomerAttrition

In [19]:
# Use absolute path to save the cleaned DataFrame (CoPilot Assistance)
output_dir = '/Users/kabirasharpe/dev/final_hackathon/BankCustomerAttrition/data/inputs'
os.makedirs(output_dir, exist_ok=True)
df.to_csv(f'{output_dir}/cleaned_bank_data.csv', index=True)

print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!

---

### Conclusion

The raw dataset was very clean, so minimal data cleaning was performed. The 'Surname' column was removed to anonymise the dataset as it contains sensitive information.

The following notebook will focus on feature engineering exploration and outlier detection. If the feature engineering is deemed as beneficial it will be added to the ETL pipeline in this notebook.